<span class="preheader">You have requested to sign-up the new account</span>
<table
  role="presentation"
  border="0"
  cellpadding="0"
  cellspacing="0"
  class="main"
>
  <!-- START MAIN CONTENT AREA -->
  <tr>
    <td class="wrapper">
      <p>Hi {{ name }}</p>
      <p>
        You have requested to sign-up the new account.<br />
        You can directly verify your account
      </p>

      <table
        role="presentation"
        border="0"
        cellpadding="0"
        cellspacing="0"
        class="btn btn-primary"
      >
        <tbody>
          <tr>
            <td align="left">
              <table
                role="presentation"
                border="0"
                cellpadding="0"
                cellspacing="0"
              >
                <tbody>
                  <tr>
                    <td>
                      <a href="{{ url }}" target="_blank"
                        >Verify your account</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        Didn't request this register?<br />
        If you didn't request a new account, just ignore this email
      </p>
      <p>Good luck! Hope it works.</p>
    </td>
  </tr>

  <!-- END MAIN CONTENT AREA -->
</table>
